body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("../img/Background.JPG");
}

.main {
    background-color: white;
    margin: 10px;
    padding: 10px;
    height: 200px;
}