body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainindex {
    background-image: url("../img/Background.JPG");
}

.main {
    background-color: white;
    margin: 10px;
    padding: 10px;
    height: 400px;
    border-radius: 10px;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb a::before {
    content: " ";
    margin-left: 10%;
}